@font-face {
    font-family: "Chivo";
    src: url("../../fonts/Chivo-Regular.ttf");
}
.dogcard {
    font-family: Chivo;
    background-color: white;
    margin-top: 25px;
    width: 240px;
    height: 363px;  
    text-align: center;
    padding-top: 8px;
}
.dogItem {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.8px; 
    text-align: center;
}
.dogname {
    font-family: Chivo;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.56px;
    text-align: left;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.dogmodel {
    font-family: Chivo;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.04px;
    text-align: left;
    margin-top: 8px;
    margin-left:10px;
    margin-bottom: 20px;
}
.dogbot {
    font-family: Chivo;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.04px;
    text-align: left;
    margin-top: 8px;   
    margin-left:10px;
}